.weather{
    place-self: center;
    padding: 20px 30px;
    border-radius: 10px;
    /* background-image: linear-gradient(45deg,#2f4680,#500ae4); */
    background-image: linear-gradient(45deg, rgba(0, 0, 0, 0.5), rgba(128, 128, 128, 0.4));
    display: flex;flex-direction: column;
    align-items: center;
 /* width: 60%; */
}
.search{
display: flex;
align-items: center;
gap: 12px;
}
.search input{
    height: 40px;
    border: none;
    outline: none;
    border-radius: 40px;
    padding-left: 25px;
    color: #626262;
    background: #ebfffc;
    font-size: 18px;
}
.search img{
    width: 40px;
    padding: 10px;
    border-radius: 50%;
    background: #ebfffc;
    cursor: pointer;
}
.weather-icon{
    width: 100px;
    margin: 10px 0;
}
.temperature{
    font-size: 35px;
    line-height: 1;
    color: #fff;
}
.location{
    font-size: 30px;

    color: #fff;
}
.weather-data{
    width: 100%;
    margin-top: 20px;
    color: #fff;
    display: flex;
    justify-content: center;
    gap: 100px;
}
.weather-data .col{
    display: flex;
align-items: flex-start;
gap: 8px;
font-size: 13px;
}
.col span{
    display: block;
    font-size: 14px;
}
.col img{
    width: 20px;
    margin-top: 10px;
}
.forecast{
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-size: 12px;
    gap: 30px;
    
}
.forecast-day{
    display: flex;
    flex-direction: column;
    justify-content: center;
align-items: center;
}
.forecast-day img{
    width: 60px;
}
.forecast-day p{
    margin-bottom: 0;
    text-align: center;
}
.forecast-heading{
    color: #fff;
    font-size: 20px;
    font-weight: 600;
    margin: 40px;
    text-transform: uppercase;
}
@media (max-width: 600px){
    .weather{
        box-sizing: border-box;
        background: none;
        /* height: 100vh; */
        width: 100vw;
        border-radius: 0;
    }   

    .forecast{
       flex-wrap: wrap;
       
    }
    .location{
        font-size: 25px;
    
    }
    .weather-icon{
        width: 80px;
        margin: 8px 0;
    }
    .forecast-day{
        padding: 10px 5px;
        width: 40%;
        border-radius: 10px;
    background-image: linear-gradient(45deg, rgba(0, 0, 0, 0.5), rgba(128, 128, 128, 0.4));
}

    .forecast-heading{
        color: #fff;
        font-size: 15px;
        font-weight: 600;
        margin: 30px 10px;
        text-transform: uppercase;
    }
}